@import url(http://fonts.googleapis.com/css?family=Artifika);
@import url(http://fonts.googleapis.com/css?family=Great+Vibes|Ruda);
@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:400,400italic);

a:link{color:#A2A2B2; text-decoration: none}
a:visited{color:#A2A2B2; text-decoration: none}
a:hover{color:#E8E8FF; text-decoration: none}


body {
	font-family: Georgia, 'Artifika', 'Great Vibes', serif, 'Ruda', sans-serif, 'Merriweather Sans';
	font-size: small;
	color: #45274A;
	background-color: #E8E8FF;
	margin:0;
	padding: 0;
	background-image: url(liat.jpg);
	background-size: cover;
	background-repeat: no-repeat;

}


.menuitems{
	
	padding: 5px;
	padding-left: 10px;
	background-color: #45274A;
	font-family: 'ruda';
	font-size: 24px;
	color:#E8E8FF;
	position: fixed;
}
.menuitems a:link{color:#E8E8FF; text-decoration: none}
.menuitems a:visited{color:#E8E8FF; text-decoration: none}
.menuitems a:hover{color:#A2A2B2; text-decoration: none}


.border
{
	background-color: #FFF;
	padding:16px;
	border:solid #45274A;
	border-width:1px 3px 3px 1px;
	margin:16px auto;
	max-width: 800px;
}

/* Main header (name) */
#mainheading {
	font-family: 'Great Vibes';
	
	font-size: 100px;
	margin-top: 15px;
	position: fixed;
	right:20px;
}

#biotext{
	text-align: center;
	max-width: 800px;
	font-size: 16px;
	margin: 70px;
	margin-top: 0;
}
h1{
	text-align: center;
	font-size: 30px;
	font-family: 'Great Vibes';


}
/*education */
h2{
	font-size: 14px;
	text-align: center;

	color: #6B3C73;
}
h3{
	font-size: 20px;
	border-bottom: 1px solid #6B3C73;
	font-style: italic;
	font-variant: small-caps;
	color: #6B3C73;
	margin-bottom: 3px;
}
ul{
	font-family: Georgia;
	margin-top: 0px;
	max-width: 550px;
	list-style-type: square;
}
h4{
	text-align: left;
	color: #324F39;
	font-size:14px;
	margin-top: 10px;
	margin-bottom: 2px;
	max-width: 450px;
}
.date{
	float:right;
	text-align: right;
	font-style: italic;
	font-size: 14px;
	color: #324F39;
	margin-top:10px;
}
.position{
	font-weight: bold;
	font-size: 14px;
	color: #6AA879;
	margin-top: 0px;
	margin-bottom: 3px;
}
.bold{
	font-weight: bold;
	display: inline-block;
}

p{
	text-align: center;
	
}

table{
	padding-top: 80px;
	margin-left: auto;
	margin-right: auto;
}

table img{
	float: center;
}



iframe{
	float: center;
}

.wrapper {
    position: relative;
    padding: 0;
    width:200px;
    height:200px;
    display:block;
    border-color: #45274A;
    border-style: solid;
    border-width: 1px;

}
.text {
    position: absolute;
    top: 0;
    color:#45274A;
    background-color:rgba(255,255,255,0.8);
    width: 200px;
    height: 200px;
    line-height:30px;
    text-align: center;
    z-index:10;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-size: 25px;
    font-family: 'Merriweather Sans';
}
.text:hover {
    opacity:1;
}
}

img {
    z-index:1;
}
.center{
	width: 230px;
	text-align: left;
	margin:0 auto;
}
.projectHeading{
	text-align: center;
	font-size: 30px;
	font-family: 'Merriweather Sans';
	font-style:italic;
}


