@import url(http://fonts.googleapis.com/css?family=Artifika);
@import url(http://fonts.googleapis.com/css?family=Great+Vibes|Ruda);

a:link{color:#E8E8FF; text-decoration: none}
a:visited{color:#E8E8FF; text-decoration: none}
a:hover{color:#A2A2B2; text-decoration: none}


body {
	font-family: Georgia, 'Artifika', 'Great Vibes', serif, 'Ruda', sans-serif;
	font-size: small;
	color: #45274A;
	background-color: #E8E8FF;
	margin:0;
	padding: 0;

}
#index{
	background: url(liat.jpg);
}
img{
	width:100%;
	height:100%;
}

.menuitems{
	
	padding: 5px;
	padding-left: 10px;
	background-color: #003366;
	font-family: 'ruda';
	font-size: 24px;
	color:#E8E8FF;
	position: fixed;
}

.border
{
	background-color: #FFF;
	padding:16px;
	border:solid #AD967D;
	border-width:1px 3px 3px 1px;
	margin:16px auto;
	max-width: 800px;
}

/* Main header (name) */
#mainheading {
	font-family: 'Great Vibes';
	
	font-size: 100px;
	margin-top: 5px;
	position: fixed;
	right:20px;
}

/*education */
h2{
	font-size: 14px;
	text-align: left;

	color: 6B3C73;
}
h3{
	font-size: 20px;
	border-bottom: 1px solid #6B3C73;
	font-style: italic;
	font-variant: small-caps;
	color: 6B3C73;
	margin-bottom: 3px;
}
ul{
	font-family: Georgia;
	margin-top: 0px;
	max-width: 550px;
	list-style-type: square;
}
h4{
	text-align: left;
	color:324F39;
	font-size:14px;
	margin-top: 10px;
	margin-bottom: 2px;
	max-width: 450px;
}
.date{
	float:right;
	text-align: right;
	font-style: italic;
	font-size: 14px;
	color:324F39;
	margin-top:10px;
}
.position{
	font-weight: bold;
	font-size: 14px;
	color:6AA879;
	margin-top: 0px;
	margin-bottom: 3px;
}
.bold{
	font-weight: bold;
	display: inline-block;
}

p{
	text-align: center;
	
}